button.calendar, button.calendar:active {
  width: 2.75rem;
  background-image: url('../../../assets/icons/calendar.png') !important;
  background-repeat: no-repeat;
  background-size: 23px;
  background-position: center;
}
