version: '3'
services:
  proxy:
    image: library/nginx:alpine
    container_name: jiraput-proxy
    restart: always
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./docker/proxy/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./docker/proxy/sites-enabled/:/etc/nginx/sites-enabled/:ro
      - ./docker/proxy/logs/:/var/log/nginx/
    ports:
      - 4200:80
    depends_on:
      - frontend
    networks:
      - jiraput 

  db:
    image: mysql:latest
    restart: always
    hostname: jiraput-db
    container_name: jiraput-db
    volumes:
      - /usr/share/zoneinfo/:/usr/share/zoneinfo/:ro
      - ./docker/db/jiraput.sql:/docker-entrypoint-initdb.d/jiraput.sql:ro
      - ./docker/db/jiraput.sql:/opt/db/jiraput.sql
    environment:
      - MYSQL_ROOT_PASSWORD=mysecretpassword
      - MYSQL_DATABASE=jiraput-db
      - MYSQL_ADMIN=admin
      - MYSQL_PASSWORD=mysecretpassword 
    networks:
      - jiraput  

  backend:
    build: ./docker/build/backend
    restart: always
    hostname: jiraput-backend
    container_name: jiraput-backend
    volumes:
      - ./docker/backend/jiraput.jar:/opt/jiraput/jiraput.jar:ro
    ports:
      - 8001:8001
      - 8080:8080  
    depends_on:
      - db
    networks:
      - jiraput  
      
  frontend:
    build: ./docker/build/frontend
    restart: always
    hostname: jiraput-frontend
    container_name: jiraput-frontend
    volumes:
      - ./frontend:/opt/jiraput/frontend
      - /opt/jiraput/frontend/node_modules
    depends_on:
      - backend
    networks:
      - jiraput  
      
networks:
  jiraput:

    
   
  
